<!--Header (menu)-->
<ion-header>
  <header class="top-bar">
    <a href="/home"><img src="../../assets/img/logo-RE-nouveau 1.png" class="logo_index"></a>
    <a href="https://solidarites-sante.gouv.fr/"><img src="../../assets/img/Mask Group.png" class="logo_index"></a>

    <div class="menu-composants">
      <div class="choice-language">
        <ion-select okText="OK" cancelText="Retour">
          <ion-select-option value="Francais">Francais</ion-select-option>
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Español">Español</ion-select-option>
        </ion-select>
      </div>

      <!--Search Button-->
      <div class="search-button">
        <ion-icon name="search-outline" class="bi"></ion-icon>
      </div>

      <div class="hamburger-menu">
        <a href="">
          <ion-icon name="menu-outline" class="bi"></ion-icon>
        </a>
      </div>
    </div>
  </header>

</ion-header>