.card-footer {
    background: #FF5C5C;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo-RE-nouveau-blanc {
    width: 255px;
    height: 79px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Contact */
.contact {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.information-app {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.05em;
    color: #FFFFFF;
}

.information-app a {
    color: blue;
}

.information-company {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.05em;
    color: #210E0E;

}

.access-functions {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.05em;
    color: #ffffff;
    line-height: 1.5em;
    float: left;

}

.access-functions a {
    color: #ffffff;
    text-decoration: none;
}

.list-sites-gouv {
    list-style-type: none;


}

.list-sites-gouv a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.05em;
    line-height: 1.5em;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10%;

}

.informations{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}