.card-footer {
    background: #FF5C5C;
    position: absolute;
    bottom: 0;
    width: 100%;
    block-size: auto;
}

.logo-RE-nouveau-blanc {
    width: 255px;
    height: 79px;
    margin-left: 10%;

}

/* Contact */
.contact {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 10%;

}

.information-app {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.information-app a {
    color: blue;
}

.information-company {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #210E0E;

}

.information-company a{

color: #210E0E;
text-decoration: none;
}
.access-functions {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
}

.access-functions a {
    color: #ffffff;
    text-decoration: none;
}

/* Group 1 */
group1 {
    position: absolute;
    width: 227px;
    height: 109px;
    left: 1044px;
    top: 1348px;
}


.list-sites-gouv {

    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150.9%;
}

.list-sites-gouv a {
    color: #ffffff;
    text-decoration: none;
}

.information-sup4 {
    /* Ministère des Solidarités et de la Santé 14, avenue Duquesne 75350 PARIS 07 SP Téléphone : 01 40 56 60 00 */

    position: absolute;
    width: 353px;
    height: 60px;
    left: 163px;
    top: 1443px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;


}

/* Line 4 */
.line4 {
    position: absolute;
    width: 35px;
    height: 0px;
    left: 312px;
    top: 1426px;

    border: 3px solid #FFFFFF;
}