<div class="card-footer">
  <img class="logo-RE-nouveau-blanc" src="../../assets/img/Logo-RE-nouveau-blanc.png" />
  <div class="contact">
    <p>Ministère des Solidarités et de la Santé<br>
      14, avenue Duquesne 75350 PARIS 07 SP
      <br>
      Téléphone : 01 40 56 60 00
    </p>
  </div>
  <div>
  <ul class="access-functions">
    <li>Plan du site</li>
    <li><a href="#">Accessibilité : non conforme</a></li>
    <li><a href="#">Mentions légales</a></li>
    <li><a href="#">Données personnelles et cookies</a></li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">Archives presse</a></li>
  </ul>
  <ul class="list-sites-gouv">
    <li><a href="https://www.legifrance.gouv.fr/">www.legifrance.gouv.fr</a></li>
    <li><a href="https://www.service public.fr">www.service public.fr</a></li>
    <li><a href="https://www.gouvernement.fr">www.gouvernement.fr</a></li>
    <li><a href="https://www.france.fr">www.france.fr</a></li>
  </ul>
  </div>
  <div class="informations">
    <p class="information-app">Copyright 2022 © (RE)ssources relationelles | Tous droits réservés | <a href="#">Mentions
        légales</a></p>
    <p class="information-company">Solution web proposée par WEB.CO | www.webco.fr | contact@webco.fr</p>
  </div>
</div>