
<ion-content>
  <app-header></app-header>

  <!--Section Hero avec Titre de l'application-->
  <section class="header-title">
    <h1>RESOURCES RELATIONNELLES</h1>
  </section>
  <div class="portail-card">
    <h2 class="card-title">Portail (RE) SOURCES RELATIONNELLES</h2>
    <p class="card-body">
      Le ministère des Solidarités et de la santé a comme objectif est de mettre en œuvre la politique du <br>gouvernent
      dans le domaine de la solidarité, la cohésion sociale, la santé publique et l’organisation <br>du système de
      santé.
      <br>
      <br>
      Dans le but d’améliorer la qualité de vie des citoyens et pour pouvoir partager des ressources et <br>permettre
      aux citoyens d’échanger, le ministère a crée le portail (RE)Sources Relationnelles, qui est <br>un espace qui
      propose des ressources et outils pour créer, renforcer et enrichir les relations des <br>citoyens.
    </p>
    <div class="card-button">
      <a href="">En savoir plus ▶</a>
    </div>
  </div>

  <div class="ministere-card">

    <p class="ministere-card-body">
      Le Ministère des Solidarité et de la Santé prend une part très importante dans la politique du <br>Gouvernement en
      matière de solidarité, de cohésion sociale et de la santé publique nationale et <br>également sur l’organisation
      du système national de santé. <a href="https://solidarites-sante.gouv.fr/">Lire plus sur le Ministère des
        Solidarités <br>et de la Santé...</a><br>
      <br>
      La première volonté du ministère est de créer un espace de partage comprenant un ou plusieurs <br>catalogue(s) de
      ressources en lien avec le développement personnel, ainsi qu’un espace d’échange <br>à propos de ces ressources.
      Ces deux parties (catalogues et espaces commentaires) seront <br>soumises à différents niveaux de modération pour
      assurer la cohérence et la bienséance.<br>
      <br>
      Le principal enjeu du portail (RE)Sources Relationnelles est de proposer des ressources et outils<br>pour créer,
      renforcer et enrichir les relations des citoyens.
    </p>
  </div>

  <!--------------------------------------------------------------------------------->
  <h2 class="text-value">DERNIERES RESSOURCES</h2>
  <ion-item>
    <ion-card class="card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
    <ion-card class="card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
    <ion-card class="image-card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
  </ion-item>

 <div class="final-container">
  <div class="btn-autre-ressources">
    <a href="">Voir d'autres ressources ▶</a>
  </div>
 </div>

  
  <app-footer></app-footer>

</ion-content>
