* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    width: 100%;
    height: 160px;
    background-color: white;
    padding: 30px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}


.title {
    margin-left: 450px;
    margin-right: 450px;
}

.title h1 {
    margin-top: 54px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    line-height: 43px;
    font-size: 35px;
    text-align: center;
    color: #03989E;
}

.connexion-container {
    margin: 0 auto;
    padding: 65px 95px 48px 70px;
    ;
    width: 968px;
    height: 542px;
    background: #FBFBFB;
    box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.connexion {
    display: inline-grid;
}

label {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    font-size: 23px;
    color: #000000;
}

.email {
    margin-top: 20px;
    width: 804px;
    height: 56px;
    background: #F7F5F5;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
}

.password {
    margin-top: 20px;
    margin-bottom: 46px;
    width: 804px;
    height: 56px;
    background: #F7F5F5;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
}

button {
    margin: 0 auto;
    width: 223px;
    height: 58px;
    border: none;
    background: #FBBC58;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    font-size: 26px;
    cursor: pointer;
    color: #FFFFFF;
}

.sign-up-form a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    color: #FF5C5C;
}

.separateur p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    color: #03989E;
}

.separateur p::before {
    content: '';
    display: inline-block;
    width: 49%;
    height: 0px;
    left: 0px;
    top: 940px;
    border: 1.5px solid #939393;
}

.separateur p::after {
    content: '';
    display: inline-block;
    width: 48%;
    height: 0px;
    left: 750px;
    top: 940px;
    border: 1.5px solid #939393;
}

.link-france-connect {
    padding-left: 700px;
    padding-right: 800px;
}

.link-france-connect img {
    width: 147px;
    height: 41px;
}

.france-connect-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    font-size: 18px;
    text-decoration-line: underline;
    text-align: center;
    color: #03989E;
}

.inscription-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.inscription-link a {
    color: #001BA7;

}

.footer-principal {
    width: 100%;
    height: auto;
    background: #FF5C5C;
    padding: 13px 169px 6px 163px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.composant-1 {
    padding: 1px 185px 6px 50px;
}

.infos-resume p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 17px;
}

.internal-links {
    margin-top: 53px;
}

.external-links {
    margin-top: 53px;
}

.internal-links a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}

.external-links a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}

.copyrights p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    font-size: 17px;
    color: #FFFFFF;
}

.signature p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    font-size: 17px;
    color: #210E0E;
}

.composant-2 {
    margin: 0;
}


/*Responsive part*/

@media(max-width:850px) {

    header {
        padding: 10px 15px;
    }

    .nav {
        margin-top: 99px;
        margin-left: -758px;

    }

    .title {
        margin-left: 65px;
        margin-right: 65px;
    }

    .connexion-container {
        width: 740px;
    }

    .email {
        width: 629px;
    }

    .password {
        width: 629px;
    }

    .sign-up-form a {
        font-size: 19px;
    }

    .separateur p::before {
        width: 47%;
    }

    .link-france-connect {
        padding-left: 346px;
        padding-right: 470px;
    }

    .footer-principal {
        padding: 13px 160px 6px 190px;
    }

    .footer-grid {
        display: block;
    }


}



@media(max-width:500px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 10px 30px;
    }

    .logo-appli img {
        width: 204px;
        height: 82px;
    }

    .logo-ministere {
        display: none;
    }

    .loupe {
        display: none;
    }

    .nav {
        margin-top: 67px;
        margin-left: -432px;

    }

    .title {
        margin-left: 35px;
        margin-right: 35px;
    }

    .title h1 {
        font-size: 30px;
    }

    .connexion-container {
        width: 440px;
    }

    .email {
        width: 290px;
    }

    .password {
        width: 290px;
    }

    .separateur p::before {
        width: 44%;
    }

    .link-france-connect {
        padding-left: 161px;
        padding-right: 13px;
    }

    .footer-principal {
        padding: 13px 40px 6px 80px;
    }

    .composant-1 {
        padding: 1px 18px 6px 50px;
    }
}

@media(max-width:450px) {
    .nav {
        margin-top: 68px;
        margin-left: -360px;
    }

    .connexion-container {
        width: 400px;
    }

    .separateur p::before {
        width: 43%;
    }

    .footer-principal {
        padding: 13px 40px 6px 50px;
    }
}

@media(max-width:420px) {
    .nav {
        margin-top: 68px;
        margin-left: -344px;
    }

    .separateur p::before {
        width: 42%;
    }

    .link-france-connect {
        padding-left: 120px;
        padding-right: 13px;
    }
}

@media(max-width:400px) {
    .nav {
        margin-top: 68px;
        margin-left: -316px;
    }

    .connexion-container {
        width: 380px;
    }

    .separateur p::before {
        width: 41%;
    }
}

@media(max-width:380px) {
    .nav {
        margin-top: 68px;
        margin-left: -307px;
    }

    .connexion-container {
        width: 350px;
        padding: 65px 95px 48px 40px;
    }


}