<ion-content>
<app-header></app-header>
<div class="title">
    <h1>CONNECTEZ-VOUS AU PORTAIL (RE) SOURCES RELATIONNELLES</h1>
</div>
    <div class="connexion-container">
        <div class="sign-up-form">
            <form class="connexion" method="post">
                <label for="email">Identifiant :</label>
                <ion-input class="email"type="email" name="email" id="email" placeholder="Adresse email"></ion-input>
                <label for="email">Mot de passe :</label>
                <ion-input class="password"type="password" name="password" id="password" placeholder="Mot de passe"></ion-input>
                <ion-button type="submit">S'identifier</ion-button>
            </form>
            <p><a href="#">Mot de passe oublié ?</a></p>
        </div>
    </div>
    <div class="separateur">
        <p>Ou</p>
    </div>

    <div class="france-connect-container">
        <div class="link-france-connect">
            <img src="../../assets/img/FranceConnect.jpg" alt="France-connect">
        </div>
        <p class="france-connect-link"><a href="#"> Qu'est-ce que FranceConnect ? </a></p>
    </div>

    <footer class="footer-principal">
        <div class="footer-grid">
            <div class="composant-1">
            <div class="logo-blanc">
                <a href="/home"><img src="../../assets/img/Logo-RE-nouveau-blanc.png" alt="logo-blanc"></a>
            </div>
            <div class="infos-resume">
                <p>Contact</p>
                
                <p class="adresse">Ministère des Solidarités et de la Santé
                14, avenue Duquesne 75350 PARIS 07 SP
                Téléphone : 01 40 56 60 00
                </p>
            </div>
        </div>
        
            <div class="liens-interne">
                <ul class="internal-links">
                    <li><a href="">Plan du site</a></li>
                    <li><a href="">Accessibilité : non conforme</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">Données personnelles et cookies</a></li>
                    <li><a href="">Contacts</a></li>
                    <li><a href="">Archives presse</a></li>
                </ul>
            </div>
            <div class="liens-externe">
                <ul class="external-links">
                    <li><a href="">www.legifrance.gouv.fr</a></li>
                    <li><a href="">www.service public.fr</a></li>
                    <li><a href="">www.gouvernement.fr</a></li>
                    <li><a href="">www.france.fr</a></li>
                </ul>
            </div>
        </div>
        
        <div class="composant-2">
            <div class="copyrights">
                <p>Copyright 2022 © (RE)ssources relationelles | Tous droits réservés | <a href="#">Mentions légales</a></p>
            </div>
            <div class="signature">
                <p>Portail web développé par WEB.CO | www.webco.fr | contact@webco.fr</p>
            </div>
        </div>
        
    </footer>
    
</ion-content>