*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-bar{
  width: 100%;
  height: 157px;
  display: flex;
  align-items: center;
  /*background: #f8f7f7;*/
  justify-content: space-between;
  padding: 30px 95px 23px 70px;
}

.menu-composants{
  display: flex;
  align-items: center;
}

.choice-language{
  width: 102px;
  height: 30px;
  left: 1121px;
  top: 66px;
  background: #FBBC58;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  margin-right: 25px;
}

option{
  color: white;
  padding: 9px 35px 10px 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.search-button{
  width: 38px;
  height: 38px;
  left: 1248px;
  top: 62px;
  background: #FBBC58;
  border-radius: 20px;
  padding: 10px;
  margin-right: 25px;
}

.bi{
  margin-top: -8px;
  color: rgb(255, 255, 255);
}

.hamburger-menu{
  width: 38px;
  height: 38px;
  left: 1248px;
  top: 62px;
  background: #FBBC58;
  border-radius: 20px;
  padding: 10px;
}

.hamburger-menu a{
  margin-top: -8px;
  text-decoration: none;
  color: white;
}

.header-title{
  width: 100%;
  height: 374px;
  text-align: center;
  padding: 95px 205px 215px 205px;
  background-image: url("../../assets/img/image-header.jpg"); 
}

.header-title h1{
  width: 100%;
  margin: 0px;
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.header-title h2{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.portail-card{
  margin-top: -140px;
  margin-left: 215px;
  margin-right: 215px;
  padding-bottom: 14px;
  width: auto;
  height: auto;
  background: rgb(253, 253, 253);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.card-title {
  padding-top: 18px;
  font-size: 35px;
  font-weight: 500;
  color: #03989E;
}

.card-body p{
  padding-top: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.card-button{
  margin: 0 auto;
  width: 223px;
  height: 60px;
  padding: 15px 22px 15px 22px;
  background: #FBBC58;
  border-radius: 30px;
}

.card-button a{
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.ministere-card{
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 256px;
}

.ministere-card-body{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}