*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: aqua;
}

header{
    width: 100%;
    height: 160px;
    background-color: white;
    padding: 30px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.bloc-image{
    display: flex;
}

.action-site{
    display: flex;
}

.search-button {
    width: 38px;
    height: 38px;
    left: 1248px;
    top: 62px;
    background: #FBBC58;
    border-radius: 20px;
    padding: 10px;
    margin-right: 25px;
}

.loupe{
    width: 38px;
    height: 38px;
    background: #FBBC58;
    border-radius: 50%;
    margin-right: 20px;
    padding: 6px;
}

.loupe img{
    color: white;
}

.menu-rond{
    width: 38px;
    height: 38px;
    background: #FBBC58;
    border-radius: 50%;
}

/* Nav menu */
.nav{
    margin-top: 90px;
    margin-left: -1388px;
    width: 100%;
    height: 355px;
    position: fixed;
    background: #FBBC58;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 25px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.btn-connexion{
    width: 255px;
    height: 58px;
    background-color: white;
    border-radius: 30px;
}

.btn-connexion a{
    color: #FBBC58;
    padding: 15px 45px;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 18px 8px;
}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.footer-principal{
    margin-top: 232px;
    width: 100%;
    height: 319px;;
    background: #FF5C5C;
}


hr{
    width: 35px;
    border: 3px solid #FFFFFF;
}

.composant-1{
    display: block;
}


/*Responsive part*/

@media(max-width:850px){
    
    header{
        padding: 10px 15px;
    }
    
    .nav{
        margin-top: 99px;
        margin-left: -758px;
    
    }
}



@media(max-width:500px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 10px 30px;
    }

    .logo-appli img{
        width: 204px;
        height: 82px;
    }

    .logo-ministere{
        display: none;
    }

    .loupe{
        display: none;
    }

    .nav{
        margin-top: 67px;
        margin-left: -432px;
    
    }
}

@media(max-width:450px){
    .nav{
        margin-top: 68px;
        margin-left: -360px;
    
    }
}

@media(max-width:420px){
    .nav{
        margin-top: 68px;
        margin-left: -344px;
    
    }
}

@media(max-width:400px){
    .nav{
        margin-top: 68px;
        margin-left: -316px;
    
    }
}

@media(max-width:380px){
    .nav{
        margin-top: 68px;
        margin-left: -307px;
    
    }
}







.search-outline {
    text-align: center;
}

.choice-language {
    width: 102px;
    height: 30px;
    left: 1121px;
    top: 66px;
    background: #FBBC58;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    margin-right: 25px;
}

.bi {
    margin-top: -8px;
    color: rgb(255, 255, 255);
}