<ion-content>
<ion-router-outlet></ion-router-outlet>
<app-header></app-header>   
   <div class="title">
        <h1>CRÉATION DE VOTRE COMPTE</h1>
    </div>
    <div class="texte-inscription">
        <p>
            Afin de valider la création de votre compte sur le portail (RE) SOURCES RELATIONNELLES
            <br>Remplissez le formulaire d’inscription
        </p>
        <p>
            Vous êtes déjà inscrit ?     <a routerLink="/Connexion">Connectez vous</a>

        </p>
    </div>
    <div class="inscription-container">
        <div class="sign-in-form">
            <form class="inscription" method="post">
                    <div class="container-principal">
                        <div class="container-1">
                        <label for="Nom">Nom *</label>
                        <ion-input name="nom" placeholder="Dupont"></ion-input>
                        <label for="Nom">Sexe</label>
                        <ion-item>
                            <ion-label></ion-label>
                            <ion-select name="Sexe">
                                <ion-select-option value="H">Homme</ion-select-option>
                                <ion-select-option value="F">Femme</ion-select-option>
                                <ion-select-option value="P">Personnalisé</ion-select-option>
                            </ion-select>
                          </ion-item>
                        <label for="DateNaissance">Téléphone *</label>
                        <ion-input type="tel" name="telephone" placeholder="+33 6 59  22 14 23"></ion-input>
                        <label for="DateNaissance">Mot de passe *</label>
                        <ion-input type="password" name="MotDePasse" placeholder="***************"></ion-input>
                    </div>
                    <div class="container-2">
                        <label for="Nom">Prénom *</label>
                        <ion-input type="text" name="prenom" placeholder="Lucas"></ion-input>
                        <label for="DateNaissance">Date De naissance *</label>
                        <ion-input type="date" name="DateNaissance"></ion-input>
                        <label for="DateNaissance">Adresse mail *</label>
                        <ion-input type="email" name="AdresseMail" placeholder="lucas.dupont@mail.com"></ion-input>
                        <label for="DateNaissance">Ressaisissez le mot de passe *</label>
                        <ion-input type="password" name="ReMotDePasse" placeholder="***************"></ion-input>
                    </div>
                
                </div>
                <div class="rgpd-validation">
                    <div class="RGPD">
                        <div class="text-rgpd">
                            <input type="checkbox" name="" id="">
                            <label class="rgpd-checkbox" for="">En cochant cette case, j’accepte que mes données personnelles soient utilisées dans le cadre de la demande effectuée et indiquée dans ce formulaire. Autre autre traitement ne sera effectué avec mes informations.<br></label>
                            <br>
                            <label class="rgpd-checkbox" for="">Pour connaître et exercer vos droits, notamment de retrait de votre consentement à l’utilisation de données collectés par ce formulaire, consultez notre <a href="#">politique de confidentialité.</a></label>
                        </div>
                    </div>
                    <div>
                        <button class="btn-inscription" type="submit">Créer votre compte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer-principal">
        <div class="footer-grid">
            <div class="composant-1">
            <div class="logo-blanc">
                <a href="/home"><img src="../../assets/img/Logo-RE-nouveau-blanc.png" alt="logo-blanc"></a>
            </div>
            <div class="infos-resume">
                <p>Contact</p>
                
                <p class="adresse">Ministère des Solidarités et de la Santé
                14, avenue Duquesne 75350 PARIS 07 SP
                Téléphone : 01 40 56 60 00
                </p>
            </div>
        </div>
        
            <div class="liens-interne">
                <ul class="internal-links">
                    <li><a href="">Plan du site</a></li>
                    <li><a href="">Accessibilité : non conforme</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">Données personnelles et cookies</a></li>
                    <li><a href="">Contacts</a></li>
                    <li><a href="">Archives presse</a></li>
                </ul>
            </div>
            <div class="liens-externe">
                <ul class="external-links">
                    <li><a href="">www.legifrance.gouv.fr</a></li>
                    <li><a href="">www.service public.fr</a></li>
                    <li><a href="">www.gouvernement.fr</a></li>
                    <li><a href="">www.france.fr</a></li>
                </ul>
            </div>
        </div>
        
        <div class="composant-2">
            <div class="copyrights">
                <p>Copyright 2022 © (RE)ssources relationelles | Tous droits réservés | <a href="#">Mentions légales</a></p>
            </div>
            <div class="signature">
                <p>Portail web développé par WEB.CO | www.webco.fr | contact@webco.fr</p>
            </div>
        </div>
        
    </footer>
</ion-content>