<ion-content>
  <!--Section Hero avec Titre de l'application-->
  <h2 class="card-title">CONNECTEZ-VOUS AU PORTAIL
    (RE) SOURCES RELATIONNELLES</h2>
  <div class="portail-card">
    <p class="card-body">
      <ion-item>
        <ion-label position="fixed">Identifiant :</ion-label>
        <ion-input placeholder="placeholder"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Mot de passe :</ion-label>
        <ion-input placeholder="placeholder" type="password"></ion-input>
      </ion-item>
      <ion-button color="warning">S'identifier</ion-button>
<br>
    <a>Mot de passe oublié ?</a>
  </div>

</ion-content>