<ion-content>
  <!--Section Hero avec Titre de l'application-->
  <h2 class="card-title">CONNECTEZ-VOUS AU PORTAIL
    (RE) SOURCES RELATIONNELLES</h2>
  <div class="portail-card">
    <p class="card-body">
      <ion-item>
        <ion-label position="fixed">Nom*</ion-label>
        <ion-input placeholder="Dupont"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Prénom*</ion-label>
        <ion-input placeholder="Lucas"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Sexe</ion-label>
        <ion-select>
          <ion-select-option value="Homme">Homme</ion-select-option>
          <ion-select-option value="Femme">Femme</ion-select-option>
          <ion-select-option value="Non renseigné">Non renseigné</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Date de naissance</ion-label>
        <ion-input placeholder="25 / 02 / 1996"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Telephone*</ion-label>
        <ion-input placeholder="+33 6 59 22 14 23"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Adresse mail*</ion-label>
        <ion-input placeholder="lucas.dupont@mail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Mot de passe</ion-label>
        <ion-input placeholder="************" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Ressaisissez le mot de passe*</ion-label>
        <ion-input placeholder="************" type="password"></ion-input>
      </ion-item>
      <ion-button color="warning">S'identifier</ion-button>
<br>
    <a>Mot de passe oublié ?</a>
  </div>

</ion-content>