a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.footer-principal{
    width: 100%;
    height: auto;
    background: #FF5C5C;
    padding: 13px 169px 6px 163px;
}

.footer-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.composant-1{
    padding: 1px 185px 6px 50px;
}

.infos-resume p{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF; 
    line-height: 17px;
}

.internal-links{
    margin-top: 53px;
}

.external-links{
    margin-top: 53px;
}

.internal-links a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}
.external-links a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}

.copyrights p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    font-size: 17px;
    color: #FFFFFF;
}

.signature p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    font-size: 17px;
    color: #210E0E;
}

.composant-2{
    margin: 0;
}
