<body>
<ion-content [fullscreen]="true">
  <!--Header (menu)-->
  <ion-header>
    <header class="top-bar">
      <nav class="menu-nav">
        <img src="../../assets/img/logo-RE-nouveau 1.png" class="logo_index">
        <img src="../../assets/img/Mask Group.png" class="logo_index">
      </nav>

      <div class="menu-composants">

        <select name="choice-language" class="choice-language">
          <option value="Français">Français</option>
          <option value="English">English</option>
          <option value="Español">Español</option>
        </select>
        <!--Search Button-->
        <div class="search-button">
          <ion-icon name="search-outline" class="bi" ></ion-icon>
        </div>

        <div class="hamburger-menu">
          <a href="">
            <ion-icon name="menu-outline" class="bi"></ion-icon>
          </a>
        </div>
      </div>
    </header>
  </ion-header>

</ion-content>
<ion-content>
  <div id="container">
    <ion-card>
      <ion-item>
        <!--Insérer-->
        <img class="image" />
        <h1>Portail (RE) Sources Relationnelles</h1>
        <ion-button>En savoir plus</ion-button>

      </ion-item>
    </ion-card>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-linkedin"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-icon name="logo-youtube"></ion-icon>

  </div>
</ion-content>
</body>