<ion-content [fullscreen]="true">
  <!--Header (menu)-->
  <ion-header>
    <header class="top-bar">
      <nav class="menu-nav">
        <a href="/home">
          <img src="../../assets/img/logo-RE-nouveau 1.png" class="logo_index">
        </a>
        <a href="https://solidarites-sante.gouv.fr/">
          <img src="../../assets/img/Mask Group.png" class="logo_index">
        </a>
      </nav>

      <div class="menu-composants">

        <select name="choice-language" class="choice-language">
          <option value="Français">Français</option>
          <option value="English">English</option>
          <option value="Español">Españo l</option>
        </select>
        <!--Search Button-->
        <div class="search-button">
          <ion-icon name="search-outline" class="bi"></ion-icon>
        </div>

        <div class="hamburger-menu">
          <a href="">
            <ion-icon name="menu-outline" class="bi"></ion-icon>
          </a>
        </div>
      </div>
    </header>
  </ion-header>

  <!-------------------------------------------------------------------------------->
  <!--Section Hero avec Titre de l'application-->
  <section class="header-title">
    <h1>RESOURCES RELATIONNELLES</h1>
    <h2>La plateforme pour améliorer vos relations</h2>
  </section>
  <div class="portail-card">
    <h2 class="card-title">Portail (RE) SOURCES RELATIONNELLES</h2>
    <p class="card-body">
      Le ministère des Solidarités et de la santé a comme objectif est de mettre en œuvre la politique du <br>gouvernent
      dans le domaine de la solidarité, la cohésion sociale, la santé publique et l’organisation <br>du système de
      santé.
      <br>
      <br>
      Dans le but d’améliorer la qualité de vie des citoyens et pour pouvoir partager des ressources et <br>permettre
      aux citoyens d’échanger, le ministère a crée le portail (RE)Sources Relationnelles, qui est <br>un espace qui
      propose des ressources et outils pour créer, renforcer et enrichir les relations des <br>citoyens.
    </p>
    <div class="card-button">
      <a href="">En savoir plus ▶</a>
    </div>
  </div>

  <div class="ministere-card">

    <p class="ministere-card-body">
      Le Ministère des Solidarité et de la Santé prend une part très importante dans la politique du <br>Gouvernement en
      matière de solidarité, de cohésion sociale et de la santé publique nationale et <br>également sur l’organisation
      du système national de santé. <a href="">Lire plus sur le Ministère des Solidarités <br>et de la Santé...</a><br>
      <br>
      La première volonté du ministère est de créer un espace de partage comprenant un ou plusieurs <br>catalogue(s) de
      ressources en lien avec le développement personnel, ainsi qu’un espace d’échange <br>à propos de ces ressources.
      Ces deux parties (catalogues et espaces commentaires) seront <br>soumises à différents niveaux de modération pour
      assurer la cohérence et la bienséance.<br>
      <br>
      Le principal enjeu du portail (RE)Sources Relationnelles est de proposer des ressources et outils<br>pour créer,
      renforcer et enrichir les relations des citoyens.
    </p>
  </div>

  <!--------------------------------------------------------------------------------->
  <h2 class="text-value">DERNIERES RESSOURCES</h2>
  <ion-item>
    <ion-card class="card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
    <ion-card class="card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
    <ion-card class="image-card-resources">
      <img src="../../assets/img/image-header.jpg">
      <ion-title><a href="#">Lorem ipsum dolor sit amet</a></ion-title>
      <ion-item>Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium
        doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-button>Voir d'autres ressources</ion-button>

  <div class="social-network">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-linkedin"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-icon name="logo-youtube"></ion-icon>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <p>Copyright 2022 © (RE)ssources relationelles | Tous droits réservés | Mentions légales
      Solution web proposée par WEB.CO | www.webco.fr | contact@webco.fr</p>
  </ion-toolbar>
</ion-footer>